---
import '../styles/projects.scss';
import Layout from '../layouts/Layout.astro';
import Tag from '../components/Tag.astro';
---

<Layout title="Projects">

  <h1 style="padding: 1rem 0 1.5rem 1rem;">Projects</h1>
  <section class="section-container">
    <div class="projects-wrapper">
    <div class="project-card coming-soon">
      <h2>AdLib Generator</h2>
      <p>A web app for generating shareable adlibs using Base64 serialization and local storage. Built with Next.js, Bun, and PostgreSQL.</p>
      <div><Tag type="Next.js" /> <Tag type="Bun" /> <Tag type="PostgreSQL" /></div>
      <!-- <a href="https://github.com/m-ox/adlib-app" target="_blank">View on GitHub</a> -->
    </div>

    <div class="project-card">
      <h2>SvelteWeatherApp</h2>
      <p>App in a day build to experiment with Svelte and present to team for our weekly hosted Coffee and Code. Pulls real-time data from a weather API. Simple and minimal, built with Vite.</p>
      <div><Tag type="Svelte" /> <Tag type="Vite" /> <Tag type="API" /></div>
      <a href="https://github.com/m-ox/SvelteWeatherApp" target="_blank">View on GitHub</a>
    </div>

    <div class="project-card">
      <h2>athena-concept-formatter</h2>
      <p>Plain HTML/JS tool for converting Athena term exports into SQL insert statements for `public.concept`. Created for internal use at a job, but maybe it'll help down the road.</p>
      <div><Tag type="HTML" /> <Tag type="JavaScript" /> <Tag type="CSS" /> <Tag type="SQL" /></div>
      <a href="https://github.com/m-ox/athena-concept-formatter" target="_blank">View on GitHub</a>
    </div>

    <div class="project-card">
      <h2>SpringFhirIngestion</h2>
      <p>FHIR ingestion API built in Spring Boot. Basic endpoints for parsing and accessing fields from incoming patient JSON objects.</p>
      <div><Tag type="Java" /> <Tag type="Spring Boot" /> <Tag type="FHIR" /> <Tag type="API" /> </div>
      <a href="https://github.com/m-ox/SpringFhirIngestion" target="_blank">View on GitHub</a>
    </div>

    <div class="project-card">
      <h2>saraswati-dashboard</h2>
      <p>Heavily customized fork of Notus React. Developed for a healthcare client. Contributed extensive work in layout and styling.</p>
      <div><Tag type="React" /> <Tag type="JavaScript" /> <Tag type="Healthcare" /> <Tag type="SCSS" /> <Tag type="MaterialUI" /> </div>
      <a href="https://github.com/amida-tech/saraswati-dashboard" target="_blank">View on GitHub</a>
    </div>

    <div class="project-card">
      <h2>portfolio</h2>
      <p>My current personal site—built with Astro and custom SCSS, featuring handcrafted components and animations. In fact, you're looking at it right now if you're reading this in browser!</p>
      <div><Tag type="Astro" /> <Tag type="SCSS" /> <Tag type="TypeScript" /> <Tag type="Personal" /></div>
      <a href="https://github.com/m-ox/portfolio" target="_blank">View on GitHub</a>
    </div>
    </div>
  </section>

</Layout>
