.contactQuote {
    font-style: italic;
    color: #555;
    // margin-bottom: 0;
    min-width: 200px;
    place-self: center;

    @media (min-width: 768px) {
      width: 50rem;
      text-align: center;
    }
}