---
import '../styles/contact.scss';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card/Card.astro';
import RandomQuote from '../components/RandomQuote/RandomQuote.astro';
import EmailForm from '../components/EmailForm/EmailForm';
---

<Layout title="Contact Me">

  <section class="section-container">
    <Card title="Let's Connect">
      <p style="text-align: center; margin: 0 auto 2rem;">
        Questions, ideas, compliments, confessions?<br />
        Drop me a note below or directly
        <a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#109;&#097;&#117;&#100;&#108;&#105;&#110;&#111;&#120;&#097;&#108;&#105;&#115;&#046;&#120;&#121;&#122;">email me</a>.

      </p>
      <EmailForm client:idle />
    </Card>

    <Card>
      <h2>FAQ</h2>
      <div>
        <b>Q: Why reach out?</b><br/>
        A: I ship clean, reliable code and work across the stack. No babysitting required.<br/><br/>
        <b>Q: What do you offer?</b><br/>
        A: Real-world experience, fast ramp-up, clear comms, and stable delivery under pressure.<br/><br/>
        <b>Q: Job hunting?</b><br/>
        A: Yes. Remote preferred. Contract or full-time. Serious teams only.<br/><br/>
        <b>Q: Leadership?</b><br/>
        A: I’ve led features and mentored devs. I keep things moving.
      </div>

      <h2>Open To</h2>
      <p>Remote roles, cool tech collaborations, and <i>maybe</i> a deranged pen pal.</p>

      <h2>Find Me Elsewhere</h2>
      <div class="contact-socials">
        <a href="https://github.com/m-ox" class="tag">GitHub</a>
        <a href="https://www.linkedin.com/in/lena-nordby-47762511a/" class="tag">LinkedIn</a>
      </div>
      
      <h2>Discord Community</h2>
      <div class="contact-socials">
        <a href="https://discord.gg/sMV8TJyWF5" class="tag">Join the DevCru Discord</a>
      </div>
    </Card>

    <Card title="Random Skunk Wisdom">
      <RandomQuote client:visible />
    </Card>
  </section>
</Layout>
