---
import '../pages/home.scss';
import Layout from '../layouts/Layout.astro';
import IntroSection from '../components/HomeSections/IntroSection.astro';
import InfoSection from '../components/HomeSections/InfoSection.astro';
import GitHubSection from '../components/HomeSections/GitHubSection.astro';
import PortfolioBanner from '../components/HomeSections/PortfolioBanner.astro';
---

<Layout title="Home">
  <section class="section-container">
    <IntroSection />
    <InfoSection />
    <GitHubSection />
  </section>

  <PortfolioBanner />
</Layout>
