---
import '../styles/global.scss';
import '../styles/home.scss';
import Layout from '../layouts/Layout.astro';
import IntroSection from '../components/HomeSections/IntroSection.astro';
import InfoSection from '../components/HomeSections/InfoSection.astro';
import GitHubSection from '../components/HomeSections/GitHubSection.astro';
import PortfolioBanner from '../components/HomeSections/PortfolioBanner.astro';
import Throwy from '../components/Throwy/Throwy.astro';
import Throwers from '../components/Throwers/Throwers.astro';
---

<Layout title="Home">
  <div style="position: relative; z-index: 0">
    <section class="section-container">
      <IntroSection />
      <InfoSection />
      <GitHubSection />
    </section>
    <PortfolioBanner />
  </div>
  <Throwers />
</Layout>
