---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Projects">
  <h1>Projects</h1>
  <ul>
    <li><a href="https://github.com/yourname/project1">Project 1</a></li>
    <li><a href="https://github.com/yourname/project2">Project 2</a></li>
  </ul>
</Layout>
