.secretContainer {
    * {
        position: absolute;
    }

    .s1 {
        top: 20%;
        right: 20%;
        z-index: -1;
    }

    .s2 {
        bottom: 30%;
        left: 20%;
        z-index: -1;
    }
}
