.auth-page-wrapper {
    height: calc(100vh - 84px);
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    place-self: center;

    .form-group {
        display: flex;
        align-items: center;
        margin: 10px 0;

        input {
            border-radius: 5px;
            width: 250px;
            padding: 5px;
            margin: 0 10px;
            border: unset;
            border-bottom: 2px solid $teal;

            &:focus-visible {
                outline: none;
            }

            &:-internal-autofill-selected {
                background-color: $off-white;
            }
        }

        svg {
            font-size: 1.2em;
            color: $blue;
        }
    }

    .btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            width: 40%;
            padding: 5px;
            border-radius: 5px;
            background: $blue;
            color: $off-white;
            border: unset;
        }
    }
}