html {
    padding: 0;
    margin: 0;
    background: $off-white;
    color: $dark-accent;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'KoHo', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

h1, h2, h3, h4, h5, h6 {
    color: $teal;
}

.spacer10 {
    padding-top: 10px;
    padding-left: 10px;
}

::-webkit-scrollbar {
    width: 11px;
    height: 11px;
   }
   ::-webkit-scrollbar-thumb {
    cursor: pointer, auto;
    background: linear-gradient(84deg, #d6668d 29%,#7390d4 98%);
    border-radius: 4px;
    box-shadow: inset 1px 0px 16px #e8e8e8;
   }
   ::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(75deg, #d6668d 31%,#7390d4 100%);
    cursor: pointer;
   }
   ::-webkit-scrollbar-track{
    background: #fae1e1;
    border-radius: 5px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
   }