html {
    padding: 0;
    margin: 0;
    background: rgb(255, 241, 244);
    color: $dark-accent;
    background: linear-gradient(249deg, #f5d5ee, #d7f6fc);
    background-size: 400% 400%;

    -webkit-animation: wave 15s ease infinite;
    animation: wave 15s ease infinite;
}

@-webkit-keyframes wave {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}
@keyframes wave {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}

body {
    margin: 0;
    padding: 0;
    font-family: 'KoHo', sans-serif;
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

h1, h2, h3, h4, h5, h6 {
    color: $teal;
}

.spacer10 {
    padding-top: 10px !important;
    padding-left: 10px !important;
}

.spacer75 {
    padding-top: 75px !important; 
}

.spacer100 {
    padding-top: 100px !important;
}

::-webkit-scrollbar {
    width: 11px;
    height: 11px;
   }

::-webkit-scrollbar-thumb {
    cursor: pointer, auto;
    background: linear-gradient(84deg, #d6668d 29%,#7390d4 98%);
    border-radius: 4px;
    box-shadow: inset 1px 0px 16px #e8e8e8;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(75deg, #d6668d 31%,#7390d4 100%);
    cursor: pointer;
}
::-webkit-scrollbar-track{
    background: #fae1e1;
    border-radius: 5px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

div.filepicker {
    background: #e1e1e15c;
}

.loading {
    display: flex;
    justify-content: center;
    place-items: center;
    height: 60vh;

    .image {
        color: $teal;
        padding: 10px;
        width: 50px;
        height: 50px;
        -webkit-animation:spin 5s linear infinite;
        -moz-animation:spin 5s linear infinite;
        animation:spin 1s linear infinite;
    }
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}