.blog-form-wrapper {
    padding: 20px;
    height: -webkit-fill-available;

    .blog-form-columns {
        display: grid;
        grid-auto-flow: column;
        gap: 40px;

        .blog-input {
            width: 100%;
            border: unset;
            border-bottom: 2px solid $dark-teal;
            border-radius: 3px;
            font-size: 1.3em;
            color: $teal;
            background: transparent;

            &:focus {
                outline: none;
            } 
            
            ::placeholder {
                padding: 0px 0px 10px 5px;
                font-size: 1.2em;
                color: $teal;
            }
        }
    }

    .rdw-editor-toolbar {
        margin: 10px 0;
        background: rgba(231, 221, 223, 0.415);
    }

    .public-DraftEditor-content {
        color: $teal;
        margin-left: 20px;
        overflow-y: scroll;
        height: 30vh;
        margin: 10px 0;
    }

    .rdw-image-modal {
        left: -215px;
    }

    button {
        padding: 5px 10px;
        background: $teal;
        border-radius: 25px;
        color: $off-white;
        border: unset;
        margin: 20px 10px;
        transition: .2s ease-in;

        &:hover {
            background: $dark-teal;
        }
    }

    .finish-button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        .finishdoc {
            display: flex;
            font-size: 1.5em;
            width: 60%;
            height: 2em;
            place-content: center;
            align-items: center;
            font-family: 'KoHo', sans-serif;
        }
    }
}