.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background: $off-white;
  
    .left-side {
      display: flex;
    }
  
    .nav-link-wrapper {
      height: 22px;
      padding: 0 5px;
      border-radius: 2px;
      border-bottom: 5px solid transparent;
      transition: .4s ease-in-out;
      margin-right: 20px;
      text-transform: uppercase;
      font-size: 1.2em;
      margin-bottom: -5px;
  
      a {
        color: $grey;
        text-decoration: none;
        &:hover {
          color: $dark-teal;
        }
      }
  
      &:hover {
        border-bottom: 2px solid $blue;
      }
  
      .nav-link-active {
        font-weight: 900;
        border-radius: 35px;
        color: $blue;
      }
    }

    .right-side {
        font-size: 1.5rem;
        transition: 1s;
        &:hover {
            letter-spacing: .5px;
        }
    }
  }