.portfolio-manager-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    .left-column {
        background: $blue;
        padding: 10px 30px;
        color: $off-white;
    }
    .right-column {
        background: $dark-teal;
        color: $off-white;
        padding: 10px 30px;
    }
}