.portfolio-sidebar-list-wrapper {
    .portfolio-item-thumb {
        padding: 20px;

        .text-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;

            .title {
                font-size: 1.5em;
            }

            .description {
                font-style: italic;
            }

            .actions {
                padding-top: 10px;

                .editIcon {
                    cursor: pointer;
                    padding: 10px;
                    transition: .2s;
    
                    &:hover {
                        color: rgb(124, 185, 124);
                    } 
                }

                .deleteIcon {
                    cursor: pointer;
                    padding: 10px;
                    transition: .2s;
    
                    &:hover {
                        color: $warning;
                    }
                }
            }
        }
    }
    
    .portfolio-thumb-img img {
        width: 100%;
    }
    
}