.portfolio-form-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    position: static;

    input {
        font-family: 'Oxygen', sans-serif;
        color: $charcoal;
        width: 100%;
        transition: .5s ease-in-out;
        font-size: 1.1em;

        &:focus {
            outline: none;
        }
    }

    select {
        font-family: 'Oxygen', sans-serif;
        width: 101.1%;
        font-size: 1.1em;
        color: #757c82;
    }

    textarea {
        font-family: 'Oxygen', sans-serif;
        font-size: 1.1em;
        color: $charcoal;
        width: 100%;
        height: 150px;
    }

    .submit-btn {
        display: flex;
        justify-content: center;

        button {
            width: 50%;
            height: 50px;
            border-radius: 15px;
            font-size: 1.5em;
            font-family: 'KoHo', sans-serif;
            text-transform: uppercase;
            background: $off-white;
        }
    }
}

.portfolio-manager-image-wrapper {
    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 5px;
        border: 2px solid $dark-accent;
    }
}

.image-removal-link {
    a {
        font-family: 'Oxygen', sans-serif;
        color: $dark-accent;
        font-weight: 700;
        cursor: pointer;
        transition: .5s;

        &:hover {
            color: $dark-teal;
        }
    }
}