---
import Card from '../Card/Card.astro';
import ControlPanel from '../ControlPanel/ControlPanel.astro';
---

<div class="responsive-column">
  <Card title="Resume" style="height: fit-content;">
    <a href="https://docs.google.com/document/d/1HIBwf6mr-sEhKQi-kutVROjBaWRFJSqasI2gcFCEYWs/edit?usp=sharing">
      Work history and skills - View document
    </a>
    <div style="height: 3.5rem;" />
    <div class="share-links">
      <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://www.maudlinoxalis.xyz" target="_blank" rel="noopener noreferrer" aria-label="Share on LinkedIn">
        <svg width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path d="M4.98 3.5C4.98 4.88 3.86 6 2.48 6S0 4.88 0 3.5 1.12 1 2.5 1 5 2.12 5 3.5zM.5 8.5H4.5V24H.5V8.5zM8 8.5H12v2.1h.1c.5-.8 1.7-2.1 3.5-2.1 3.8 0 4.5 2.5 4.5 5.7V24h-4V15c0-2.1-.1-4.9-3-4.9-3 0-3.5 2.3-3.5 4.7V24H8V8.5z"/>
        </svg>
      </a>

      <a href="https://twitter.com/intent/tweet?text=Check%20out%20this%20developer%20portfolio!&url=https://www.maudlinoxalis.xyz" target="_blank" rel="noopener noreferrer" aria-label="Share on Twitter">
        <svg width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.949.564-2.003.974-3.127 1.195-.897-.956-2.178-1.555-3.594-1.555-2.72 0-4.928 2.206-4.928 4.924 0 .39.045.765.127 1.124-4.094-.205-7.725-2.166-10.157-5.144-.424.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.025-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.318-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.179 1.394 4.768 2.209 7.557 2.209 9.054 0 14-7.496 14-13.986 0-.21 0-.423-.015-.634.961-.689 1.8-1.56 2.46-2.548l-.047-.02z"/>
        </svg>
      </a>

      <a href="mailto:?subject=Maud%20Nordby%20Portfolio&body=Check%20out%20this%20developer%20portfolio:%20https://www.maudlinoxalis.xyz" aria-label="Share via Email">
        <svg width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 2v.01L12 13 4 6.01V6h16zM4 18V8l8 5 8-5v10H4z"/>
        </svg>
      </a>
    </div>
  </Card>

  <Card title="Control Panel">
    <ControlPanel />
  </Card>
</div>
