---
import Card from '../Card/Card.astro';
import ControlPanel from '../ControlPanel/ControlPanel.astro';
---

<div class="responsive-column">
  <Card title="Resume" style="height: fit-content;">
    <a href="https://docs.google.com/document/d/1HIBwf6mr-sEhKQi-kutVROjBaWRFJSqasI2gcFCEYWs/edit?usp=sharing">
      Work history and skills - View document
    </a>
  </Card>

  <Card title="Control Panel">
    <ControlPanel />
  </Card>
</div>
