---
import Card from '../Card/Card.astro';
import Throwy from '../Throwy/Throwy.astro';
---

<div class="responsive-column">
  <Card class="intro" title="Hi, I’m Maud.">
    <p>
      Building tools with code, making messes with paint.<br />
      Somewhere between structured logic and creative residue.<br />
    </p>
  </Card>

  <Card>
    <p class="quote">
      "I am a mess, but I am a beautiful mess." –
      <a href="https://www.goodreads.com/quotes/1000000-i-am-a-mess-but-i-am-a-beautiful-mess" target="_blank" rel="noopener noreferrer">Unknown</a>
    </p>
  </Card>


  <div>
    <Throwy item="plant"/>
    <Throwy item="toy"/>
    <Throwy item="glasses"/>
  </div>
</div>
