---
import Card from '../Card/Card.astro';
---

<section style="padding: 0 2rem;" class="portfolio-banner">
  <Card title="Portfolio">
    <p>
      This portfolio is a work in progress, showcasing my projects and skills.<br />
      Check out the
        <a style="color: rgb(109, 35, 134);" href="https://github.com/m-ox/portfolio">source code on GitHub</a>.
    </p>
  </Card>
</section>
