---
import Card from '../Card/Card.astro';
---

<section style="padding: 0 2rem;" class="portfolio-banner">
  <Card title="Portfolio">
    <p>
      This portfolio is a work in progress, showcasing my projects and skills.<br />
      Check out the source code on GitHub.
    </p>
  </Card>
</section>
