.throwy {
  width: 2rem;
  height: fit-content;
  display: inline-block;
  will-change: transform;
  z-index: 2;
  position: absolute;
  will-change: transform;
}

:global(.marble) {
  transform: translate(337.39px) translateY(-825.212px) rotateX(8deg) rotateY(8deg);
  position: absolute;
  z-index: 9999;
  width: 4rem !important;
}

:global(.plant) {
  transform: translate(1167.39px) translateY(-425.212px) rotateX(8deg) rotateY(8deg);
  position: absolute;
  z-index: 9999;
}

:global(.toy) {
  transform: translate(-127.39px) translateY(-625.212px) rotateX(8deg) rotateY(8deg);
  position: absolute;
  z-index: 9999;
}

:global(.glasses) {
  transform: translateX(302.017px) translateY(-312.035px) rotateX(8deg) rotateY(8deg);
  position: absolute;
  z-index: 9999;
}

:global(.mobile.plant),
:global(.mobile.marble),
:global(.mobile.toy),
:global(.mobile.glasses) {
  transform: none !important;
  position: static !important;
  z-index: auto !important;
  float: inline-end;
  width: 33% !important;
}

.throwy-image {
  width:  15rem;
  height: auto;
  user-select: none;
  pointer-events: none;
  z-index: 9999;
  position: absolute;
}
