---
import Nav from '../components/Nav.astro';
import '../styles/global.scss';
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
  </head>
  <body style="display: flex; flex-direction: column; min-height: 100vh; margin: 0;">
    <Nav />
    <main style="flex: 1; align-self: anchor-center;">
      <slot />
    </main>
    <footer style="padding: 1rem; text-align: center; font-size: .9rem; color: #666;">
      Created using Astro JS with &#10084;&#65039; by <a href="https://github.com/m-ox" target="_blank" rel="noopener noreferrer">m-ox</a>
    </footer>
  </body>
</html>
